.tw-btn{
   display: inline-block;
   padding: 0 16.5px;
   height: 40px;
   line-height: 40px;
   border-radius:15px;
   text-align: center;
   cursor: pointer;
   transition: all .3s;
   @apply w-36 bg-transparent  text-zinc-400 text-sm font-medium ring-1 ring-inset ring-white/10;
   @apply hover:ring-white/15 hover:bg-white/5 hover:text-zinc-100;
   letter-spacing: .3px;

   &.tw-btn-primary{
      color: #fff;
      @apply bg-blue-500 border border-blue-500;
      &:hover{
         @apply bg-blue-700;
      }
   }
   &.tw-btn-success{
      color: #fff;
      background-color: #67c23a;
      border: 1px solid #67c23a;
      &:hover{
         color: #67c23a;
         background-color: #fff;
      }
   }
   &.tw-btn-warning{
      color: #fff;
      background-color: #e6a23c;
      border: 1px solid #e6a23c;
      &:hover{
         color: #e6a23c;
         background-color: #fff;
      }
   }
   &.tw-btn-danger{
      color: #fff;
      background-color: #f56c6c;
      border: 1px solid #f56c6c;
      &:hover{
         color: #f56c6c;
         background-color: #fff;
      }
   }
   &.tw-btn-info{
      color: #fff;
      background-color: #909399;
      border: 1px solid #909399;
      &:hover{
         color: #909399;
         background-color: #fff;
      }
   }
   &.tw-btn-text{
      color: #409eff;
      background-color: transparent;
      border: 1px solid transparent;
      &:hover{
         color: #409eff;
         background-color: transparent;
      }
   }
   &.tw-btn-link{
      color: #409eff;
      background-color: transparent;
      border: 1px solid transparent;
      &:hover{
         color: #409eff;
         background-color: transparent;
      }
   }
   &.tw-btn-disabled{
      color: #c0c4cc;
      background-color: #ebeef5;
      border: 1px solid #ebeef5;
      cursor: not-allowed;
   }
}

.code.hljs.atom_one_dark{
   width: 100%;
   background-color: transparent;
}
.code_header{
   display:none !important
}
.hljs{
   width: 100%;
   background-color: transparent !important;
}
.code.hljs{
   height: auto !important;
   .code_area.change_hight{
      height: auto !important;
      
   }
   .code_area pre{
      height: auto !important;
   }
} 

.tabHeader{
   border:0;
   // remove focus-active
   &:focus{
      outline: none !important;
   }
   [data-headlessui-state="selected"]{
      @apply text-emerald-400 right-1 border-emerald-400;
   }
   
}